.familles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  width: 12vw;
  border: 1px solid var(--blanc);
  border-left: none;
  position: absolute;
  top: 10vh;
  left: 0;
  padding: 1rem;
}

.familles h2 {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
